<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image:url('assets/portada1.jpg');background-size: cover; background-blend-mode: saturation;">

        <img style="filter: none  !important;" class="mx-auto d-block  rounded"  height="500"  src="assets/portada1.jpg" alt="First slide">
        <div class="container">
          <div class="content">
            <h1>Heading</h1>
            <p lass="text-justify">Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
            <p class="view-more-btn">Ver mas</p>
          </div>
        </div>
      </div>
      <div class="carousel-item"  style="background-image:url('assets/2.jpg');background-size: cover; background-blend-mode: saturation;">
        <img class="mx-auto d-block "  height="500"  src="assets/2.jpg" alt="Second slide">
        <div class="container">
          <div class="content">
            <h1>Heading</h1>
            <p class="text-justify">Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
            <p class="view-more-btn">Ver mas</p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="background-image:url('assets/3.jpg');background-size: cover; background-blend-mode: saturation;">
        <img class="mx-auto d-block" height="500" src="assets/3.jpg"  alt="Third slide">
        <div class="container">
          <div class="content">
            <h1>Heading</h1>
            <p class="text-justify">Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
          <p class="view-more-btn">Ver mas</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

