<app-search-filter></app-search-filter>
<div class="container-fluid" id="product-sections">
  <div class="row">
    <div class="col-md-10">
      <div class="section-btn">Lacteos</div>
      <div class="section-btn">Verduras</div>
      <div class="section-btn">Carnes</div>
      <div class="section-btn">Protenia vegetal</div>
      <div class="section-btn">Frutas</div>
      <div class="section-btn">Canasta natural</div>
      <div class="section-btn">Los mas pedidos</div>
      <div class="section-btn">Los de temporada</div>
      <div class="section-btn">
        <span style="font-size: 12px; color: whitesmoke">
          Opciones de envio y compras <i class="fas fa-bars"></i>
        </span>
      </div>
      <!-- <div class="section-btn">
        <div class="dropdown">
          <button
            class="btn btn-secondary btn-sm dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Mas
          </button>
          <ul
            class="dropdown-menu admon-btn"
            aria-labelledby="dropdownMenuButton"
          >
            <li><a class="dropdown-item">Modificar portada</a></li>
            <li>
              <a class="dropdown-item" (click)="AdmonSection()"
                >Agregar seccion</a
              >
            </li>
            <li><a class="dropdown-item">Administrar productos</a></li>
            <li><a class="dropdown-item">Administrar sitio</a></li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>
