<body>
  <div class="about-section" id="acerca_de_minegocio">
    <div class="inner-container">
        <h1 class="text">Acerca de nosotros</h1>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
        </p>
        <div class="skills">
            <span>Experiencia</span>
            <span>Calidad</span>
            <span>Tradición</span>
            <span>Los mejores de la region</span>
        </div>
    </div>
  </div>
</body>