* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.btn-send {
  background-color: #f0c14b;
}

.title{
    color: #444;
}

.skills{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}
.list-group{
  text-transform: uppercase;
  font-size: 13px;
  color: #444;
  line-height: 30px;
  margin-bottom: 40px;
}

.list-group-item
{
  transition: 0.3s;
}

.list-group-item:hover
{
  color: #f0c14b;
  cursor: pointer;
}