<div class="container" id="contactanos">
  <div style="text-align: center" class="title">
    <h2>Contactanos</h2>
    <p>Conócemos mejor, deja tu mensaje:</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="../../../../assets/contact.jpg" style="width: 100%" />
      <ul class="list-group">
        <li class="list-group-item">
          <span
            ><i class="fas fa-phone"></i> 9612434013, 9612345690</span
          >
        </li>
        <li class="list-group-item">
          <span
            ><i class="fas fa-envelope-square"></i>
            enminegocio@gmail.com</span
          >
        </li>
        <li class="list-group-item">
          <span
            ><i class="fas fa-map-marker-alt"></i> 11 norte, entre
            segunda y tercera poniente, barrio niño de atocha</span
          >
        </li>
      </ul>
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">Nombre</label>
        <input
          type="text"
          id="fname"
          name="firstname"
          placeholder="Tu nombre completo"
        />
        <label for="tel">Número de teléfono</label>
        <input
          type="text"
          id="tel"
          name="tel"
          placeholder="Tu número de teléfono.."
        />
        <label for="subject">Mensaje</label>
        <textarea
          id="subject"
          name="subject"
          placeholder="Escribe tu mensaje"
          style="height: 170px"
        ></textarea>
        <input type="button" class="btn btn-send" value="Enviar" />
      </form>
    </div>
  </div>
</div>
