.slider-product {
  background-color: #ffffff;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.thumbnail {
  margin-top: 10%;
}

.thumbnail .img-left {
  position: relative;
  float: left;
  left: -5%;
}
.thumbnail .img-right {
  position: relative;
  float: right;
  right: -5%;
}

.thumbnail img {
  height: auto;
  width:100%;
  cursor: pointer;
}

.text-thumbnail {
  color: #007185;
}

.text-thumbnail:hover {
  cursor: pointer;
  color: #c7511f;
  text-decoration: underline;
}

.price-color {
  color: #b12704;
  font-size: 20px;
}

.slider-ctrl-container {
  position: relative;
}

.slider-ctrl {
  opacity: 0.3;
  margin: 0%;
  top: 20%;
  width: 50px;
  height: 100px;
  background: #ffffff;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #f0c14b;
  transition: 0.3s !important;
}

.slider-ctrl:active {
  border-color: #f0c14b;
}

.slider-ctrl-left {
  position: absolute;
  float: left;
  left: 5%;
}

.slider-ctrl-right {
  position: absolute;
  float: right;
  right: 5%;
}

.slider-product:hover .slider-ctrl 
{ 
  visibility: visible;
  opacity: 0.9;
}

.caption{
  font-size: 14px;
}

.section-title
{
  color: #444;
}

@media only screen and (max-width: 768px) {
  .slider-ctrl {
    display: none;
  }
}