<div class="container-fluid">
  <div class="row slider-product slider-product-scroll">
    <h5 class="section-title">Más vendidos</h5>
    <div class="col-md-2">
      <div class="thumbnail text-center slider-ctrl-container">
        <button class="slider-ctrl slider-ctrl-left">
          <i class="fas fa-caret-left"></i>
        </button>
        <a>
          <img
            src="../../../assets/t4.jpg"
            class="mx-auto d-block img-thumbnail"
            alt="Lights"
          />
          <div class="caption">
            <p class="text-thumbnail">
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus.
              <span class="badge bg-danger">-50%</span>
              <span class="badge bg-warning text-dark"><del>$250.00</del></span>
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default">
                <p class="price-color">$125.00</p>
              </button>
              <button type="button" class="btn">
                <p><i style="color: red" class="fas fa-heart"></i></p>
              </button>
              <button type="button" class="btn btn-default">
                <p>
                  <i style="color: #f0c14b" class="fas fa-shopping-cart"></i>
                </p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail text-center">
        <a>
          <img
            src="../../../assets/t7.jfif"
            class="mx-auto d-block img-thumbnail"
            alt="Nature"
          />
          <div class="caption">
            <p class="text-thumbnail">
              Lorem ipsum donec id elit non mi porta gravida at eget metus.
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default">
                <p class="price-color">$250.00</p>
              </button>
              <button type="button" class="btn">
                <p><i style="color: red" class="fas fa-heart"></i></p>
              </button>
              <button type="button" class="btn">
                <p>
                  <i style="color: #f0c14b" class="fas fa-shopping-cart"></i>
                </p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail text-center">
        <a>
          <img
            src="../../../assets/t8.jpg"
            class="mx-auto d-block img-thumbnail"
            alt="Fjords"
          />
          <div class="caption">
            <p class="text-thumbnail">
              Lorem ipsum donec id elit non mi porta gravida at eget metus.
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default">
                <p class="price-color">$250.00</p>
              </button>
              <button type="button" class="btn">
                <p><i style="color: red" class="fas fa-heart"></i></p>
              </button>
              <button type="button" class="btn">
                <p>
                  <i style="color: #f0c14b" class="fas fa-shopping-cart"></i>
                </p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail text-center">
        <a>
          <img
            src="../../../assets/prod.jpg"
            class="mx-auto d-block img-thumbnail"
            alt="Fjords"
          />
          <div class="caption">
            <p class="text-thumbnail">
              Lorem ipsum donec id elit non mi porta gravida at eget metus.
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default">
                <p class="price-color">$250.00</p>
              </button>
              <button type="button" class="btn">
                <p><i style="color: red" class="fas fa-heart"></i></p>
              </button>
              <button type="button" class="btn">
                <p>
                  <i style="color: #f0c14b" class="fas fa-shopping-cart"></i>
                </p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail text-center">
        <a>
          <img
            src="../../../assets/prod.jpg"
            class="mx-auto d-block img-thumbnail"
            alt="Fjords"
          />
          <div class="caption">
            <p class="text-thumbnail">
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus.
              <span class="badge bg-danger">-50%</span>
              <span class="badge bg-warning text-dark"><del>$250.00</del></span>
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default">
                <p class="price-color">$125.00</p>
              </button>
              <button type="button" class="btn">
                <p><i style="color: red" class="fas fa-heart"></i></p>
              </button>
              <button type="button" class="btn">
                <p>
                  <i style="color: #f0c14b" class="fas fa-shopping-cart"></i>
                </p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail text-center slider-ctrl-container">
        <button class="slider-ctrl slider-ctrl-right">
          <i class="fas fa-caret-right"></i>
        </button>
        <a>
          <img
            src="../../../assets/2.jpg"
            class="mx-auto d-block img-thumbnail"
            alt="Fjords"
          />
          <div class="caption">
            <p class="text-thumbnail">
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus.
              <span class="badge bg-danger">-50%</span>
              <span class="badge bg-warning text-dark"><del>$250.00</del></span>
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default">
                <p class="price-color">$125.00</p>
              </button>
              <button type="button" class="btn">
                <p><i style="color: red" class="fas fa-heart"></i></p>
              </button>
              <button type="button" class="btn">
                <p>
                  <i style="color: #f0c14b" class="fas fa-shopping-cart"></i>
                </p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row slider-product slider-product-scroll">
    <h5 class="section-title">Más vendidos</h5>
    <div class="col-md-2">
      <div class="thumbnail text-center slider-ctrl-container">
        <button class="slider-ctrl slider-ctrl-left">
          <i class="fas fa-caret-left"></i>
        </button>
        <a>
          <img
            src="../../../assets/crema.jfif"
            class="mx-auto d-block img-thumbnail"
            alt="Lights"
          />
          <div class="caption">
            <p class="text-thumbnail">
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus.
              <span class="badge bg-danger">-50%</span>
              <span class="badge bg-warning text-dark"><del>$250.00</del></span>
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default">
                <p class="price-color">$125.00</p>
              </button>
              <button type="button" class="btn">
                <p><i style="color: red" class="fas fa-heart"></i></p>
              </button>
              <button type="button" class="btn btn-default">
                <p>
                  <i style="color: #f0c14b" class="fas fa-shopping-cart"></i>
                </p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail text-center">
        <a>
          <img
            src="../../../assets/t7.jfif"
            class="mx-auto d-block img-thumbnail"
            alt="Nature"
          />
          <div class="caption">
            <p class="text-thumbnail">
              Lorem ipsum donec id elit non mi porta gravida at eget metus.
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default">
                <p class="price-color">$250.00</p>
              </button>
              <button type="button" class="btn">
                <p><i style="color: red" class="fas fa-heart"></i></p>
              </button>
              <button type="button" class="btn">
                <p>
                  <i style="color: #f0c14b" class="fas fa-shopping-cart"></i>
                </p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail text-center">
        <a>
          <img
            src="../../../assets/t8.jpg"
            class="mx-auto d-block img-thumbnail"
            alt="Fjords"
          />
          <div class="caption">
            <p class="text-thumbnail">
              Lorem ipsum donec id elit non mi porta gravida at eget metus.
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default">
                <p class="price-color">$250.00</p>
              </button>
              <button type="button" class="btn">
                <p><i style="color: red" class="fas fa-heart"></i></p>
              </button>
              <button type="button" class="btn">
                <p>
                  <i style="color: #f0c14b" class="fas fa-shopping-cart"></i>
                </p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail text-center">
        <a>
          <img
            src="../../../assets/t9.jpg"
            class="mx-auto d-block img-thumbnail"
            alt="Fjords"
          />
          <div class="caption">
            <p class="text-thumbnail">
              Lorem ipsum donec id elit non mi porta gravida at eget metus.
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default">
                <p class="price-color">$250.00</p>
              </button>
              <button type="button" class="btn">
                <p><i style="color: red" class="fas fa-heart"></i></p>
              </button>
              <button type="button" class="btn">
                <p>
                  <i style="color: #f0c14b" class="fas fa-shopping-cart"></i>
                </p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail text-center">
        <a>
          <img
            src="../../../assets/prod-small.jpg"
            class="mx-auto d-block img-thumbnail"
            alt="Fjords"
          />
          <div class="caption">
            <p class="text-thumbnail">
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus.
              <span class="badge bg-danger">-50%</span>
              <span class="badge bg-warning text-dark"><del>$250.00</del></span>
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default">
                <p class="price-color">$125.00</p>
              </button>
              <button type="button" class="btn">
                <p><i style="color: red" class="fas fa-heart"></i></p>
              </button>
              <button type="button" class="btn">
                <p>
                  <i style="color: #f0c14b" class="fas fa-shopping-cart"></i>
                </p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail text-center slider-ctrl-container">
        <button class="slider-ctrl slider-ctrl-right">
          <i class="fas fa-caret-right"></i>
        </button>
        <a>
          <img
            src="../../../assets/small.jpg"
            class="mx-auto d-block img-thumbnail"
            alt="Fjords"
          />
          <div class="caption">
            <p class="text-thumbnail">
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus
              Lorem ipsum donec id elit non mi porta gravida at eget metus.
              <span class="badge bg-danger">-50%</span>
              <span class="badge bg-warning text-dark"><del>$250.00</del></span>
            </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-default">
                <p class="price-color">$125.00</p>
              </button>
              <button type="button" class="btn">
                <p><i style="color: red" class="fas fa-heart"></i></p>
              </button>
              <button type="button" class="btn">
                <p>
                  <i style="color: #f0c14b" class="fas fa-shopping-cart"></i>
                </p>
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
