<!-- Button trigger modal -->
<button type="button" hidden=true class="btn btn-primary" id="modalBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <button type="button" class="btn-close btn-warning" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cuenta 
            <i class="far fa-user"></i>
          </li>
          <li class="list-group-item">Mis pedidos 
            <i class="fas fa-box-open"></i>
          </li>
          <li class="list-group-item">Mis medios de pago
            <i class="fas fa-money-check"></i>
          </li>
          <li class="list-group-item">Visualizar modo edicion
            <i class="fas fa-edit"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>