/* You can add global styles to this file, and also import other style files */
body
{
    background-color:#f8f9fa !important;
}

.navbar-dark .navbar-nav .nav-link {
    color:#fff !important;
}

#product-sections
{
    background-color: #232f3e; 
}

.section-btn
{
    border-style: solid;
    border-color:#232f3e ;
    border-width: 1.5px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:medium;
    text-align: center;
    margin-left: 10px;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
}
 .section-btn:hover
{
    border-style:solid;
    border-color:#f0c14b;
} 

.carousel-btn-option
{
    background-color:#f0c14b !important;
    opacity:99% !important;
}
.detail-carrousel-item
{
    background-color:gray;
    opacity: 60%;
    color: white;
    font-weight: bolder;
}

.prod-btn-viewer
{
    background-color:#f0c14b !important;
    border-style: solid;
    border-width: 2px;
    font-weight: bolder;
    margin-right: 3px;
    border-radius: 10px;
}

.prod-btn-viewer:hover
{
    border-style: solid;
    border-width: 2px;
    border-color:#232f3e;
}

 /*Estilo para botones*/
.admon-btn
{
    background-color: #f0c14b;
    color: #232f3e;
    border-width: 3px;
    border-color: #f0c14b;
}


.admon-btn:hover
{
    background-color: #f0c14b;
    border-style: solid;
    border-width: 3px;
    border-color: #232f3e;
    color: #232f3e;
}


.cancel-btn
{
    background-color: #232f3e;
    color: #fff;
    border-width: 3px;
    border-color: #232f3e;
}

.cancel-btn:hover
{
    color: #fff;
    font-weight: bolder;
    border-width: 3px;
    border-color: #f0c14b;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #232f3e;
    color: white;
    text-align: center;
    height: 15%;
    font-size: 10px;
 }

 .btn-footer{
     color: white;
     font-weight: bolder;
     background-color: #37475A;
     width: 100%;
     height: 30%;
 }

 .btn-footer:hover{
     cursor: pointer;
    color: white;
    font-weight: bolder;
}