<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 img-list-preview preview-scroll">
      <ul>
        <li>
          <div class="img-preview">
            <img
              class="img-thumbnail mx-auto d-block"
              src="../../../assets/2.jpg"
            />
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img-preview">
            <img
              class="img-thumbnail mx-auto d-block"
              src="../../../assets/1.jpg"
            />
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img-preview">
            <img
              class="img-thumbnail mx-auto d-block"
              src="../../../assets/relized.jpg"
            />
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img-preview">
            <img
              class="img-thumbnail mx-auto d-block"
              src="../../../assets/prod.jpg"
            />
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img-preview">
            <img
              class="img-thumbnail mx-auto d-block"
              src="../../../assets/prod.jpg"
            />
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img-preview">
            <img
              class="img-thumbnail mx-auto d-block"
              src="../../../assets/prod.jpg"
            />
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img-preview">
            <img
              class="img-thumbnail mx-auto d-block"
              src="../../../assets/prod.jpg"
            />
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img-preview">
            <img
              class="img-thumbnail mx-auto d-block"
              src="../../../assets/prod.jpg"
            />
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img-preview">
            <img
              class="img-thumbnail mx-auto d-block"
              src="../../../assets/prod.jpg"
            />
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img-preview">
            <img
              class="img-thumbnail mx-auto d-block"
              src="../../../assets/prod.jpg"
            />
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="img-preview">
            <img
              class="img-thumbnail mx-auto d-block"
              src="../../../assets/prod.jpg"
            />
          </div>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5">
      <mat-card class="card">
        <img
          mat-card-image
          class="img-responsive"
          src="../../../assets/1.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-actions>
          <button type="button" class="btn-photo">
            <i class="fas fa-play"></i>
          </button>
          <button type="button" class="btn-photo">
            <i class="fas fa-shopping-cart"></i> 
          </button>
          <button type="button" class="btn-photo">
            <i class="fas fa-search-plus"></i>
          </button>
        </mat-card-actions>
      </mat-card>
      <h5 class="product-desc-title">Descripción del producto</h5>
      <p style="font-size: 18px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation,Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation,Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3">
          <h4>Spring Air_ Colchón Allegro Queen Size 80top,Spring Air_ Colchón Allegro Queen Size 80topSpring Air_ Colchón Allegro Queen Size 80top</h4>
          <p class="text-brand border-bottom">Marca : Pring Air</p>
          <p class="text-brand">Precio : $5050.55</p>
          <div class="descripcion-product">
            <h5 class="border-top">Acerca de este producto</h5>
            <ul class="descripcion-product-items">
              <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </li>
              <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </li>
              <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </li>
              <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </li>
              <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation
              </li>
            </ul>
          </div>
    </div>
    <div class="col-xs-12 col-xs-12 col-md-2 container-option text-center">
        <ul class="list-group">
          <li class="list-group-item">
            <p class="text-success" style="font-weight: bolder;">DISPONIBLE</p>
          </li>
          <li class="list-group-item">
            <p class="text-brand">$5050.55</p>
          </li>
          <li class="list-group-item">
            <p class="text-brand" style="font-weight: bolder;">
              <i class="fas fa-phone-square-alt"></i>
              Contacte al negocio para verificar fechas de entrega</p>
          </li>
          <li class="list-group-item">
            <p  class="text-brand">
              <span style="font-size: large;" >
                <i class="fas fa-map-marked"></i>
               </span>
              Elige tu dirección
              </p>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn">
              <i class="fas fa-play"></i> Comprar ahora
            </button>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn">
              <i class="fas fa-shopping-cart"></i> Agregar al carrito
            </button>
          </li>
        </ul>
    </div>
</div>  
<div class="row">
  <h5 class="section-title">Productos relacionados</h5>
 <div class="img-container-relations-products">
   <div class="controls">
     <button class="controls-slider" id="left">
      <i class="fas fa-caret-left"></i>
     </button>
     <button class="controls-slider" id="right"> <i class="fas fa-caret-right"></i>
    </button>
   </div>
   <div class="img-container">
    <img src="../../../assets/prod.jpg" class="img-responsive img-thumbnail mx-auto d-block" alt="Cinque Terre">
    <div class="caption">
      <p>Lorem ipsum donec id elit non mi porta gravida at eget metus</p>
    </div>   
  </div>
   <div class="img-container">
    <img src="../../../assets/t2.jpg" class="img-responsive img-thumbnail mx-auto d-block" alt="Cinque Terre">
    <div class="caption">
      <p>Lorem ipsum donec id elit non mi porta gravida at eget metus</p>
    </div>  
  </div>
   <div class="img-container">
    <img src="../../../assets/t3.jpg" class="img-responsive img-thumbnail mx-auto d-block" alt="Cinque Terre">
    <div class="caption">
      <p>Lorem ipsum donec id elit non mi porta gravida at eget metus</p>
    </div>  
  </div>
   <div class="img-container">
    <img src="../../../assets/t4.jpg" class="img-responsive img-thumbnail mx-auto d-block" alt="Cinque Terre">
    <div class="caption">
      <p>Lorem ipsum donec id elit non mi porta gravida at eget metus</p>
    </div>  
  </div>
   <div class="img-container">
    <img src="../../../assets/prod.jpg" class="img-responsive img-thumbnail mx-auto d-block" alt="Cinque Terre">
    <div class="caption">
      <p>Lorem ipsum donec id elit non mi porta gravida at eget metusdonec</p>
    </div>  
  </div>
 </div>
</div>  
</div>     

